@import "assets/styles/setup";

.header {
  padding-top: $fixed-header-height;

  nav {
    -webkit-transform: none !important;
    transform: none !important;
    width: 100vw;
    height: $fixed-header-height;
    border-bottom: 1px solid #cecece;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: $main-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
}

.logo {
  color: #fff;
  font-size: 15px;
  i {
    font-size: 25px;
  }
}
