@import 'assets/styles/setup';

.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s;
    opacity: 0;
    position: absolute;
    color: $pr-black;
    top: 45vh;
    cursor: pointer;

    .arrow:hover {
        background-color: $listing-bg;
        border-radius: 50%;
    }
}

.slider {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    touch-action: pan-y;

    &:hover > .arrow {
        opacity: 1;
    }
}

.iconArrow {
    align-self: center;
}

.arrowLeft {
    composes: arrow;
    left: 3px;
}

.arrowRight {
    composes: arrow;
    right: 3px;
}

.dots {
    top: 60px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}

.dot {
    background-color: $ter-text;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    height: 7px;
    width: 7px;
}

.dotActive {
    composes: dot;
    background-color: $pr-dusk;
}
