.trendsChart {
  display: flex;
  flex-direction: column;

  :global {

    .recharts-surface {
      padding: 10px 0;
    }
  }
}

.trendsHeader {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.chart {
  height: 38vh;
}

.positivePriceChange {
  color: green;
}

.negativePriceChange {
  color: red;
}
