@import 'assets/styles/setup';

.youtubeVideoList {
  position: relative;

  .postSwitcher {
    position: absolute;
    top: 20px;
    right: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.16);

    .navigationContent {
      padding: 2px 5px;
      color: rgba(0, 0, 0, 0.16);
    }

    .counter {
      font-size: $font-size-12;
    }
  }
}
