.error-modal-container {

    &__message {
        display: flex;
        position: absolute;
        padding: 0 10px;
        color: #a94442;
        background-color: #f2dede;
        border: 2px solid #ebccd1;
        justify-content: center;
        top: 376px;
        left: 612px;
        overflow: hidden;
        pointer-events: none;
        height: 120px;
        width: 250px;
        border-radius: 5px;
        z-index: 351;
        align-items: center;
    }

    &__overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 350;
        background-color: rgba(25, 25, 25, 0.26);
    }
}
