.redditWidget {
  height: 100%;
  overflow: scroll;
}

.header {
  padding: 0 5px;
}

.redditPost {
  border-top: 3px solid white;
  padding: 5px;

  &:first-child {
    border-top: none;
  }
}

.title {
  display: block;
  color: black;

  /* visited link */
  &:visited {
    color: #470002;
  }

  /* mouse over link */
  &:hover {
    color: #134c55;
  }

  /* selected link */
  &:active {
    color: #134c55;
  }
}

.scoreAndComments {
  color: gray;
}

.nrOfComments {
  color: black;
  text-decoration: underline;
  /* visited link */
  &:visited {
    color: #470002;
  }

  /* mouse over link */
  &:hover {
    color: #134c55;
  }

  /* selected link */
  &:active {
    color: #134c55;
  }
}
