.signInForm {
    position: fixed;
    top: 80px;
    right: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 5px;
    border-radius: 5px;
    background: white;

    input {
        display: block;
        height: 30px;
        margin-top: 5px;
    }
}
