
.listItemWrapper {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  width: 6px;
  background-color: black;
  padding-top:50px;
}

.listItemWrapper::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid lightblue;
    background-color:white;
}



.listItemContainer {
  border-radius: 5%;
  position: relative;
  bottom: 0;
  width: 150px;
  padding: 15px;
  background-color: lightblue;
}

.root {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  ul li:nth-child(odd) .listItemContainer{
    left: 45px;
  }

  ul li:nth-child(even) .listItemContainer{
    left: -189px;
  }
}
