@import 'assets/styles/setup';

.tweetItem {
  display: flex;
  flex-direction: row;
  color: black;

  /* visited link */
  &:visited {
    color: #470002;
  }

  /* mouse over link */
  &:hover {
    color: #134c55;
  }

  /* selected link */
  &:active {
    color: #134c55;
  }
}

.textContainer {
  margin-left: 10px;
  text-align: left;
}

.text {
  font-size: $font-size-13;
  padding-right: 20px;
}

.tweetHeader {
  display: flex;

  .name {
    font-weight: $bold-weight;
    color: black;
  }

  .screenName {
    margin-left: 5px;
    color: #808080;
    flex: 1;
    font-size: $font-size-13;
  }

  .twitterIcon {
    font-size: $font-size-18;
    color: #1da1f2;
    margin-left: 8px;
  }
}

.localeDate {
  margin-left: 4px;
  color: #808080;
  font-size: $font-size-12;
}

.profileImg {
  border-radius: 50%;
}

.title {
  display: block;
  max-width: 320px;
}
