<meta name="application-name" content="Crypto dashboard webapp"/>
<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage"
      content="https://cointrendz.com/img/rocket.png"/>
<link rel="apple-touch-icon" href="https://cointrendz.com/img/rocket.png">
<link rel="apple-touch-icon" sizes="76x76"
      href="https://cointrendz.com/img/rocket.png">
<link rel="apple-touch-icon" sizes="120x120"
      href="https://cointrendz.com/img/rocket.png">
<link rel="apple-touch-icon" sizes="152x152"
      href="https://cointrendz.com/img/rocket.png">
<link rel="apple-touch-icon" sizes="180x180"
      href="https://cointrendz.com/img/rocket.png">
