<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" <%- head.htmlAttributes %> data-regily-language="<%- languageCode %>">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
        <%- head.title %>
        <%- head.meta %>
        <link rel="manifest" href="/manifest.json" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#536878">
        <% styleSrc.forEach(function(src) { %>
            <link rel="stylesheet" href="<%= publicPath + src %>" type="text/css" media="screen" charset="utf-8" />
        <% }) %>
        <% scriptSrcs.forEach(function(src) { %>
            <link href="<%= publicPath + src %>" rel="preload" as="script" />
        <% }) %>
        <%- head.link %>
        <%- include genericHead %>
    </head>
    <body>
        <div id="root"><%- htmlContent %></div>

        <script type="text/javascript" charset="utf-8">
            window.__INITIAL_STATE__ = '<%= initialState %>';
            window.__CONFIG__ = '<%= clientConfig %>';
            window.__ENVIRONMENT__ = '<%= environmentConfig %>';
        </script>

        <% scriptSrcs.forEach(function(src) { %>
            <script src="<%= publicPath + src %>" defer="defer"></script>
        <% }) %>

        <%- cssHash %>

    </body>
</html>
