.matchesTable {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #D3D3D3;

  tr {
    height: 40px;
    border: 1px solid #D3D3D3;

    th, td {
      padding: 5px;
      text-align: left;
    }
  }
}

.positivePriceChange {
  color: green;
}

.negativePriceChange {
  color: red;
}
