.searchBar {
    display: flex;
    align-self: center;
    height: 40px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.searchInput {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border: none;
    outline: none;
}

.searchButton {
    background: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
}
