@import 'assets/styles/setup';

.youtubeVideoItem {
  display: flex;
  color: black;

  /* visited link */
  &:visited {
    color: #470002;
  }

  /* mouse over link */
  &:hover {
    color: #134c55;
  }

  /* selected link */
  &:active {
    color: #134c55;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  overflow: hidden;
  text-align: left;

  .header {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .title {
      font-weight: 600;
      font-size: $font-size-13;
    }

    .youtubeIcon {
      font-size: $font-size-18;
      color: red;
      margin-left: 8px;
    }
  }

  .body {
    .description {
      height: 32px;
      line-height: 16px;
      overflow: hidden;
      font-style: italic;
      font-size: $font-size-12;
      padding-right: 24px;
    }

    .date {
      color: #808080;
      font-size: $font-size-12;
      vertical-align: top;
    }
  }
}
