.homeContainer {
  composes: pageLayoutContainer from global;
}

.homeColumn {
  display: flex;
  flex-direction: column;
  overflow:auto;
  flex: 1;
}

.topProduct {
  padding: 5px;
  margin: 10px 0;
}
