@import 'assets/styles/setup';

.coinRoute {
  composes: pageLayoutContainer from global;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-wrap: nowrap;
  }
}

.contentWrapper {
  padding: 5px;
  border-top: 1px solid #eeeeee;
}
