:global {
    html {
        background-color: $main-bg;
        height: 100%;
        font-size: $font-size-base;
    }

    body {
        font-family: $fallback-font;
        font-weight: $normal-weight;
        line-height: $line-height-md;
        color: $prim-text;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        height: 100%;

        &.noscroll {
            overflow: hidden;
        }

        &.no-padding-top {
            padding-top: 0;

        }

        &.font-loaded {
            font-family: $body-font;
        }
    }

    // Ensure full page layout //
    html, body, #root {
        min-height: 100%;
        height: 100%;
        @include only-ie() {
            height: 100%;
        }
    }

    #app-container {
        display: flex;
        flex-direction: column;
    }
    // END: Ensure full page layout //

    p {
        margin: 0 0 10px;
    }

    a {
        @include user-select(none);
    }

    input::-ms-clear {
        display: none;
    }

    .container {

        @include breakpoint(md) {
            padding: 0 1%;
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint(lg) {
            max-width: $lg-breakpoint;
        }

        &--footer-margin {
            margin-bottom: 30px;

            @include breakpoint(sm) {
                margin-bottom: 50px;
            }
        }

        &__wrapper--light {
            background-color: $pr-white;
            width: 100%;
        }

    }
    .content-with-ad-container {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }
}
