$version-nr: 'v0';
$static-fonts-url: '/fonts/';

@font-face {
    font-family: 'icomoon';
    src:    url($static-fonts-url + 'icomoon.' + $version-nr + '.eot');
    src:    url($static-fonts-url + 'icomoon.eot?' + $version-nr + '+#iefix') format('embedded-opentype'),
    url($static-fonts-url + 'icomoon.' + $version-nr + '.woff') format('woff'),
    url($static-fonts-url + 'icomoon.' + $version-nr + '.ttf') format('truetype'),
    url($static-fonts-url + 'icomoon.' + $version-nr + '.svg?#icomoon') format('svg');
    font-weight: 400;
    font-style: normal;
}

i {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global {
  i.icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    color: black;
  }

  .icomoon.icomoon-reddit:before {
      content: "\e900";
  }

  .icomoon.icomoon-twitter:before {
      content: "\e901";
  }

  .icomoon.icomoon-home:before {
    content: "\e902";
  }

  .icomoon.icomoon-youtube:before {
    content: "\e903";
  }

  .icomoon.icomoon-grooveshark:before {
    content: "\e904";
  }

  .icomoon.icomoon-eth:before {
    content: "\e905";
  }

  .icomoon.icomoon-pay:before {
    content: "\e906";
  }

  .icomoon.icomoon-search:before {
    content: "\e986";
  }

  .icomoon.icomoon-team:before {
    content: "\e972";
  }

  .icomoon.icomoon-github:before {
    content: "\eab0";
  }

  .icomoon.icomoon-keyboard_arrow_down:before {
    content: "\e907";
  }

  .icomoon.icomoon-keyboard_arrow_up:before {
    content: "\e908";
  }

  .icomoon.icomoon-stats-dots:before {
    content: "\e99b";
  }

  .icomoon.icomoon-chevron-down:before {
    content: "\e909";
  }

  .icomoon.icomoon-chevron-up:before {
    content: "\e90a";
  }
}
