@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

$fixed-header-height: 50px;

// z-indexes
$main-header: 100;

// Base URL without trailing slash
$cdn-images-base-url: 'https://images.webappcdn.com/images/';
$static-gui-files-url: $cdn-images-base-url + 'site-gui/';
$static-images-url: $static-gui-files-url + '/design/';
$static-fonts-url: 'https://images.webappcdn.com/files/fonts/';


// Fonts
$body-font: 'Maven Pro', Arial, sans-serif;
$fallback-font: Arial, sans-serif;
$font-size-base: 14px;

$line-height-sm: 18px;
$line-height-md: 18px;
$line-height-lg: 24px;
$line-height-xl: 30px;
$line-height-large: 1.3333333 !default; // Lineheight from bootstrap

$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 500;
$bold-weight: 700;

$font-size-5: 0.357rem;
$font-size-6: 0.428rem;
$font-size-7: 0.500rem;
$font-size-8: 0.571rem;
$font-size-9: 0.643rem;
$font-size-10: 0.714rem;
$font-size-11: 0.786rem;
$font-size-12: 0.857rem;
$font-size-13: 0.929rem;
$font-size-14: 1rem;
$font-size-15: 1.071rem;
$font-size-16: 1.143rem;
$font-size-17: 1.214rem;
$font-size-18: 1.286rem;
$font-size-20: 1.429rem;
$font-size-22: 1.571rem;
$font-size-25: 1.786rem;
$font-size-26: 1.857rem;
$font-size-28: 2.000rem;
$font-size-30: 2.142rem;
$font-size-32: 2.286rem;
$font-size-36: 2.571rem;
$font-size-40: 2.857rem;
$font-size-50: 3.571rem;
$font-size-60: 4.285rem;


// = Color variables
// -----------------------------
$pr-white: white;
$pr-black: #191919;
$pr-off-black: #343434;
$pr-off-gray: #bfbfbf;
$pr-turquoise: #2d748c;
$pr-white-20: rgba(255, 255, 255, 0.2);
$pr-white-50: rgba(255, 255, 255, 0.5);

$pr-blue: #1994e0;
$pr-blue-light-dark: #2977bb;
$pr-blue-dark: #256cad;

$pr-orange: #FCA835;

$pr-dusk-darker: #0F4952;
$pr-dusk: #207A88;
$pr-dusk-light: #7AAFBA;
$pr-dusk-lighter: #BCD7DB;
$pr-dusk-super-light: rgba(32, 121, 136, 0.10);

$pr-pink: #EB5864;
$pr-pink-dark: #BD1F2C;
$pr-pink-light: #F8AFB5;
$pr-pink-lighter: #FBD6D9;

$pr-link: #2977bb;
$pr-link-active: #194c79;
$pr-link-hover: #194c79;

$pr-action: $pr-dusk;
$pr-action-active: $pr-dusk-light;
$pr-action-hover: $pr-dusk-light;

$pr-cta: $pr-blue;
$pr-cta-active: $pr-blue-dark;
$pr-cta-hover: $pr-blue-dark;
$pr-cta-disabled: #cecece;

$pr-gray: #fafafa;
$pr-darkgray: #e1e4e6;
$pr-low-importance: #adbec8;
$pr-low-importance-active: #c2d1da;

$main-bg: $pr-white;
$listing-bg: #F2F2F2;
$sec-listing-bg: #F7F7F7;
$dark-grey: #777777;

$tert-bg: #EFEFEF;
$quart-bg: #E9EBED;

$prim-text: rgba(0, 0, 0, 0.91);
$sec-text: rgba(0, 0, 0, 0.57);
$prim-text-white: white;
$sec-text-white: rgba(255, 255, 255, .75);
$ter-text: rgba(0, 0, 0, 0.31);
$disabled-text: #bebebe;

$sig-positive-label: #389245;
$sig-positive: #A6CC5B;
$sig-negative: #E56357;
$sig-neutral: #FCDF6C;

$star-filled: $pr-orange;

$pr-border-color: #c8d0d8;
$separator-color: #E1E4E6;
$table-grey: #FBFBFB;
$pr-green: #26774b;
$pr-opacity-green: rgba(38, 119, 75, 0.6);
$pr-light-green: #f3f7f8;

$pr-cyber-monday: #8ab2ba;

$overlay-transparency: rgba(112, 112, 112, 0.49);
$shadow-transparency: rgba(0, 0, 0, 0.15);

$header-gradient: linear-gradient(to right, #006876, #21939d);
$home-gradient: linear-gradient(to bottom, #006876, #21939d);
$border-gradient: linear-gradient(to right, #4197c5, #60438e);

// = Component colors
// -----------------------------

$modal-action-color: $pr-action;
$modal-action-color-hover: $pr-action-hover;
$modal-action-color-active: $pr-action-active;

// = Grid
// -----------------------------
$xxxs-breakpoint: 375px;
$xxs-breakpoint: 480px;
$xs-breakpoint: 640px;
$sm-breakpoint: 768px;
$md-breakpoint: 1025px;
$lg-breakpoint: 1280px;
$xl-breakpoint: 1300px;

$container-padding: 2%;

$menu-height: 60px;
$menu-height-mobile: 50px;

// = Animation easing
// -----------------------------

$ease-s: cubic-bezier(0.455, 0.03, 0.4, 0.955);

// = General variables
// -----------------------------

$pr-border-radius: 4px;
$pr-modal-size-full: 100%;
$pr-modal-size-big: 320px;
$pr-modal-size-small: 250px;
