:global {
    h1, .h1 {
        font-size: $font-size-22;
        font-weight: $semibold-weight;
        line-height: $line-height-md;
        @include breakpoint(sm) {
            font-size: $font-size-26;
            line-height: $line-height-xl;
        }
        @include breakpoint(md) {
            font-size: $font-size-30;
        }
    }

    h2, .h2 {
        font-size: $font-size-16;
        line-height: $line-height-md;
        font-weight: $normal-weight;
        @include breakpoint(sm) {
            font-size: $font-size-18;
        }
        @include breakpoint(md) {
            font-size: $font-size-20;
        }
    }

    h3, .h3 {
        font-weight: $normal-weight;
        font-size: $font-size-13;
        line-height: $line-height-md;
        margin: 0;

        @include breakpoint(sm) {
            font-size: $font-size-15;
        }
        @include breakpoint(md) {
            font-size: $font-size-16;
        }
    }

    h4, .h4 {
        font-weight: $semibold-weight;
        font-size: $font-size-13;
        text-transform: uppercase;
        line-height: $line-height-md;
    }

    h5, .h5 {
        font-weight: $semibold-weight;
        font-size: $font-size-11;
        text-transform: uppercase;
        line-height: $line-height-md;
    }

    p {
        font-weight: $normal-weight;
        font-size: $font-size-14;
        line-height: $line-height-md;
    }

    small {
        font-weight: $normal-weight;
        font-size: $font-size-12;
        line-height: $line-height-md;
    }

    h1, .h1, h2, .h2, h3, .h3 {
        margin: 0;
    }
}
