.sessionMenu {
    display: flex;
    align-self: center;
    height: 40px;
    padding: 5px;
}

.unAuthUserMenu {
    display: flex;
    align-self: center;
    height: 40px;
    padding: 5px;
}

.loginButton {
    margin-right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.signUpButton {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.divider {
    border-left: 1px solid #bdbdbd;
    margin: 4px 0;
}
