@import 'assets/styles/setup';

.postHeader {
  display: flex;
  align-items: baseline;

  .author {
    font-size: $font-size-16;
    margin-left: 10px;
  }

  .elapsedTime {
    margin-left: 6px;
    flex: 1;
    color: grey;
  }
}

.redditComment {
  padding-left: 10px;
  margin-top: 2px;

  .body {
    padding-left: 30px;
    font-size: $font-size-13;
  }
}

.redditPost {
  .title {
    margin-top: 5px;
    text-decoration: underline;
    font-size: $font-size-15;

    a {
      color: black;
    }
  }

  .redditIcon {
    align-self: normal;
    margin-left: 8px;
    font-size: $font-size-20;
    color: #FF4500;
  }

  .mainContentWithSwitcher {
    display: flex;

    .mainContent {
      flex-basis: 90%;

      .body {
        margin-top: 5px;
        font-size: $font-size-13;
        .image {
          width: 100%;
        }
      }
    }

    .postSwitcher {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
    }
  }

  .footer {
    color: grey;
  }
}
