@import 'assets/styles/setup';

.coinRouteExpanded {
    composes: pageLayoutContainer from global;
    flex-wrap: nowrap;

    @include breakpoint(sm) {
        flex-wrap: nowrap;
    }
}

.priceHoldingsColumn {
    display: flex;
    flex-direction: column;
    flex: 0 0 98vw;
    margin-right: 1vw;

    @include breakpoint(sm) {
        overflow: auto;
        flex: 0 0 600px;
        margin-right: 10px;
    }
}

.widgetColumn {
    display: flex;
    flex-direction: column;
    flex: 0 0 98vw;
    margin-right: 1vw;

    @include breakpoint(sm) {
        overflow: auto;
        flex: 0 0 400px;
        margin-right: 10px;
    }
}

.fiftyRow {
    height: 45vh;
    @include breakpoint(sm) {
        height: 50%;
        max-height: 45vh;
    }
}

.carousel {
    padding: 10px 0;
    margin: 10px auto;
    width: 100%;

    .title {
        font-size: 16px;
        margin-bottom: 0;
        font-weight: $normal-weight;

        @include breakpoint(sm) {
            font-size: 18px;
        }

        @include breakpoint(md) {
            font-size: 20px;
        }
    }

    .topProduct {
        padding: 5px;
        margin: 10px 0;
    }
}
