@import 'assets/styles/setup';

.coinInfo {
  padding: 2px 5px;
  display: flex;
  flex-direction: column;
}

.coinInfoRow {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;

  &:first-of-type {
    margin-top: 0;
  }
}

.coinInfoGroup {
  display: flex;
  align-items: center;

  &.priceName{
    font-size: $font-size-20;
    flex: 1;
  }

  &.timeFrame{
    font-size: $font-size-15;
    flex: 1;
    justify-content: center;
  }

  &.teamWhale{
    font-size: $font-size-15;
    flex: 1;
    justify-content: flex-end;
  }
}

.groupItem {
  color: black;
  display: flex;

  &.price{
    color: #4A90E2;
    margin-left: 6px;
  }

  &.priceChange{
    margin-left: 5px;
  }

  &.teamGroup {
    .teamChange{
      margin-left: 5px;
    }
  }

  &.whaleGroup {
    margin-left: 5px;

    .whaleChange{
      margin-left: 5px;
    }
  }
}

.secondaryInfo {
  display: flex;
  flex: 1;

  .priceHigh {
    margin-left: 2px;
  }

  .priceLow {
    margin-left: 15px;
  }

  .volume {
    margin-left: 15px;
  }

  .showGraphButton {
    flex: 1;
    text-align: end;
  }
}

.positivePriceChange {
  color: green;
}

.negativePriceChange {
  color: red;
}
