//.default-button {
//    color: #333;
//    border-color: #ccc;
//    background-color: white;
//    font-weight: 400;
//    padding: 0.280rem 0.75rem;
//    font-size: 1rem;
//    border-radius: .25rem;
//
//    &:hover {
//        background-color: #e6e6e6;
//        border-color: #d7d7d7;
//    }
//
//    &:active {
//        background-color: #d7d7d7;
//        border-color:transparent;
//    }
//}
